<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.kuari.trackall">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
   -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
     <uses-permission android:name="android.permission.READ_SMS" />
         <uses-permission android:name="android.permission.RECEIVE_SMS" />
         <uses-permission android:name="android.permission.SEND_SMS" />
         -->
    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <activity
            android:name=".activities.ShowResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_show_result"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.LoginSignUp"
            android:label="Login/SignUp" />

        <activity
            android:name=".activities.ShowFlightsWeb"
            android:label="@string/title_activity_show_flights"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="dtdc.in" />
                <data android:host="indiapost.gov.in"/>

                <data android:host="www.dtdc.in"/>
                <data android:host="www.bombinoexp.com"/>
                <data android:host="www.fedex.com"/>
                <data android:host="www.airstarexpress.com"/>
                <data android:host="www.airstateindia.com"/>
                <data android:host="www.airborneinternational.in"/>
                <data android:host="www.airwingsindia.com"/>
                <data android:host="www.ajexpress.in"/>
                <data android:host="www.akashganga.info"/>
                <data android:host="www.akrexpress.com"/>
                <data android:host="www.apscargo.com"/>
                <data android:host="www.anlexpress.in"/>
                <data android:host="www.antronexpress.com"/>
                <data android:host="www.safexpress.com"/>
                <data android:host="www.indiapost.gov.in"/>
                <data android:host="www.aramex.com"/>
                <data android:host="www.ashokairwayscourier.in"/>
                <data android:host="www.arclimited.com"/>
                <data android:host="www.atlanticcourier.net"/>
                <data android:host="www.atsglobex.com"/>
                <data android:host="www.axlworldwide.com"/>
                <data android:host="www.beaconccipl.com"/>
                <data android:host="www.bhavnaroadways.com"/>
                <data android:host="www.bibhacourier.com"/>
                <data android:host="www.blazeflash.com"/>
                <data android:host="www.bluedart.com"/>
                <data android:host="www.bnlair.in"/>
                <data android:host="www.bomgim.com"/>
                <data android:host="www.dhl.co.in"/>
                <data android:host="www.bengalforce.com"/>
                <data android:host="www.tpcindia.com"/>
                <data android:host="www.dotzot.in"/>
                <data android:host="www.track.delhivery.com"/>
                <data android:host="www.ccs-uae.com"/>
                <data android:host="www.concordeexpress.com"/>
                <data android:host="www.cnzexpress.com"/>
                <data android:host="www.bookmypacket.com"/>
                <data android:host="www.bsa.co.in"/>
                <data android:host="www.bgpost.bg"/>
                <data android:host="www.canadapost.ca"/>
                <data android:host="www.centralexpress.in"/>
                <data android:host="www.postaonline.cz"/>
                <data android:host="www.track-chinapost.com"/>
                <data android:host="www.chipsairexp.com"/>
                <data android:host="www.firstflight.net"/>
                <data android:host="www.citipost.in"/>
                <data android:host="www.cjkoreaexpress.in"/>
                <data android:host="www.overnitenet.com"/>
                <data android:host="www.ondotonline.in"/>
                <data android:host="www.gati.com"/>
                <data android:host="www.gojavas.com"/>
                <data android:host="www.vxpress.in"/>
                <data android:host="www.vtransgroup.com"/>
                <data android:host="www.vayusevaindia.in"/>
                <data android:host="www.usps.com"/>
                <data android:host="www.vichare.info"/>
                <data android:host="www.vrlgroup.in"/>
                <data android:host="www.vulcanxpress.com"/>
                <data android:host="www.zodiacexpress.com"/>
                <data android:host="www.yogayog.com"/>
                <data android:host="www.yw56.com.cn"/>
                <data android:host="www.xpressbees.com"/>
                <data android:host="www.xfas.in"/>
                <data android:host="www.wowexpress.in"/>
                <data android:host="www.worldnetexpress.com"/>
                <data android:host="www.worldfirst.in"/>
                <data android:host="www.satelliteconnexions.com"/>
                <data android:host="www.sp.com.sa"/>
                <data android:host="www.scmforyou.com"/>
                <data android:host="www.sekologistics.com"/>
                <data android:host="www.sequel.co.in"/>
                <data android:host="www.shreeanjanicourier.com"/>
                <data android:host="www.balajicourier.com"/>
                <data android:host="www.sigmacouriers.com"/>
                <data android:host="www.shreemahabaliexpress.com"/>
                <data android:host="www.shreemahavircourier.co.in"/>
                <data android:host="www.shreemaruticourier.com"/>
                <data android:host="www.shreenandancourier.com"/>
                <data android:host="www.shreetirupaticourier.net"/>
                <data android:host="www.shrikarni.in"/>
                <data android:host="www.shrisaiservice.in"/>
                <data android:host="www.ubxpress.com"/>
                <data android:host="www.singpost.com"/>
                <data android:host="www.sjww.in"/>
                <data android:host="www.skycomex.com"/>
                <data android:host="www.skylarkexpress.in"/>
                <data android:host="www.skynetwwe.com"/>
                <data android:host="www.skynetindia.com"/>
                <data android:host="www.smcouriers.com"/>
                <data android:host="www.sohaminternational.net"/>
                <data android:host="www.speedandsafe.com"/>
                <data android:host="www.speedexpress.co.in"/>
                <data android:host="www.speednetcouriers.co.in"/>
                <data android:host="www.speedmanexpress.com"/>
                <data android:host="www.spoton.co.in"/>
                <data android:host="www.srkcommunique.com"/>
                <data android:host="www.stcourier.com"/>
                <data android:host="www.ucglobal.com"/>
                <data android:host="www.suntikacourier.com"/>
                <data android:host="www.supertradecouriers.com"/>
                <data android:host="www.uncleparcels.com"/>
                <data android:host="www.chinapost-track.com"/>
                <data android:host="www.swissfreight.com"/>
                <data android:host="www.service.post.ch"/>
                <data android:host="www.useucs.com"/>
                <data android:host="www.priorityexp.com"/>
                <data android:host="www.pacificexp.net"/>
                <data android:host="www.palandecourier.com"/>
                <data android:host="www.parcelforce.com"/>
                <data android:host="www.parcel2go.com"/>
                <data android:host="www.parcelled.in"/>
                <data android:host="www.parveenexpress.com"/>
                <data android:host="www.patel-india.com"/>
                <data android:host="www.pavancourier.com"/>
                <data android:host="www.ecom.pickspeed.co.in"/>
                <data android:host="www.pickmexp.com"/>
                <data android:host="www.redexpressdelivery.com"/>
                <data android:host="www.pigeonexpress.com"/>
                <data android:host="www.pionexxco.net"/>
                <data android:host="www.emonitoring.poczta-polska.pl"/>
                <data android:host="www.poonamcourier.com"/>
                <data android:host="www.poslaju.com.my"/>
                <data android:host="www.postnl.post"/>
                <data android:host="www.prgexpress.com"/>
                <data android:host="www.primecrc.com"/>
                <data android:host="www.primetrack.in"/>
                <data android:host="www.royalmail.com"/>
                <data android:host="www.procurelogistics.com"/>
                <data android:host="www.psscourier.com"/>
                <data android:host="www.purolator.com"/>
                <data android:host="www.pushpakcourier.net"/>
                <data android:host="www.q-express.com"/>
                <data android:host="www.gorapidconnect.com"/>
                <data android:host="www.rajdhaniairexpress.com"/>
                <data android:host="www.kesinenicargo.com"/>
                <data android:host="www.khubaniairpack.com"/>
                <data android:host="www.kingworldwidecourier.com"/>
                <data android:host="www.megacitycourier.in"/>
                <data android:host="www.lmtco.com"/>
                <data android:host="www.track.metroswift.in"/>
                <data android:host="www.meghraj.co.in"/>
                <data android:host="www.ludhianaexpress.com"/>
                <data android:host="www.madhurcouriers.in"/>
                <data android:host="www.madurairadhalogistics.com"/>
                <data android:host="www.mailexindia.com"/>
                <data android:host="www.marutiair.com"/>
                <data android:host="www.maxlogistic.com"/>
                <data android:host="www.kgscargo.co.in"/>
                <data android:host="www.miraklecouriers.com"/>
                <data android:host="www.mmllog.net"/>
                <data android:host="www.mskworldwide.in"/>
                <data android:host="www.mypacco.com"/>
                <data android:host="www.daakiyaa.com"/>
                <data android:host="www.dakiyajunction.in"/>
                <data android:host="www.dcsdelivery.com"/>
                <data android:host="www.delex.in"/>
                <data android:host="www.dpd.com"/>
                <data android:host="www.delnetexpress.com"/>
                <data android:host="www.deusgroups.com"/>
                <data android:host="www.dhlsameday.com"/>
                <data android:host="www.dreamcoexpress.com.pk"/>
                <data android:host="www.evahan.in"/>
                <data android:host="www.ecomexpress.in"/>
                <data android:host="www.highflyexpress.com"/>
                <data android:host="www.elbextrack.in"/>
                <data android:host="www.elta-courier.gr"/>
                <data android:host="www.epg.ae"/>
                <data android:host="www.koreapost.go.kr"/>
                <data android:host="www.eparcel.co"/>
                <data android:host="www.excesscouriers.com"/>
                <data android:host="www.expan.co.in"/>
                <data android:host="www.falconcourier.net"/>
                <data android:host="www.61.145.165.207"/>
                <data android:host="www.faspeed.com"/>
                <data android:host="www.fastnfirstcouriers.com"/>
                <data android:host="www.goodluckcourier.in"/>
                <data android:host="www.firstflightcanada.com"/>
                <data android:host="www.flightdespatch.com"/>
                <data android:host="www.flykingonline.com"/>
                <data android:host="www.franchexpress.com"/>
                <data android:host="www.futuresupplychains.com"/>
                <data android:host="www.globalmailexp.com"/>
                <data android:host="www.gmsworldwide.com"/>
                <data android:host="www.iccworld.com"/>
                <data android:host="www.iclexpress.in"/>
                <data android:host="www.icscourier.ca"/>
                <data android:host="www.irtpl.com"/>
                <data android:host="www.innovex.co.in"/>
                <data android:host="www.linexsolutions.com"/>
                <data android:host="www.jgtcl.com"/>
                <data android:host="www.jetlinecouriers.com"/>
                <data android:host="www.jvxp.in"/>
                <data android:host="www.nitcologistics.com"/>
                <data android:host="www.nonstopexpress.com"/>
                <data android:host="www.nuvoex.com"/>
                <data android:host="www.ocsworldwide.co.uk"/>
                <data android:host="www.omintl.net"/>
                <data android:host="www.omsanchar.omlogistics.co.in"/>
                <data android:host="www.omniexpress.in"/>
                <data android:host="www.orbitexp.com"/>
                <data android:host="www.overseasexpress.in"/>

                <data android:host="dtdc.in"/>
                <data android:host="bombinoexp.com"/>
                <data android:host="fedex.com"/>
                <data android:host="airstarexpress.com"/>
                <data android:host="airstateindia.com"/>
                <data android:host="airborneinternational.in"/>
                <data android:host="airwingsindia.com"/>
                <data android:host="ajexpress.in"/>
                <data android:host="akashganga.info"/>
                <data android:host="akrexpress.com"/>
                <data android:host="apscargo.com"/>
                <data android:host="anlexpress.in"/>
                <data android:host="antronexpress.com"/>
                <data android:host="safexpress.com"/>
                <data android:host="indiapost.gov.in"/>
                <data android:host="aramex.com"/>
                <data android:host="ashokairwayscourier.in"/>
                <data android:host="arclimited.com"/>
                <data android:host="atlanticcourier.net"/>
                <data android:host="atsglobex.com"/>
                <data android:host="axlworldwide.com"/>
                <data android:host="beaconccipl.com"/>
                <data android:host="bhavnaroadways.com"/>
                <data android:host="bibhacourier.com"/>
                <data android:host="blazeflash.com"/>
                <data android:host="bluedart.com"/>
                <data android:host="bnlair.in"/>
                <data android:host="bomgim.com"/>
                <data android:host="dhl.co.in"/>
                <data android:host="bengalforce.com"/>
                <data android:host="tpcindia.com"/>
                <data android:host="dotzot.in"/>
                <data android:host="track.delhivery.com"/>
                <data android:host="ccs-uae.com"/>
                <data android:host="concordeexpress.com"/>
                <data android:host="cnzexpress.com"/>
                <data android:host="bookmypacket.com"/>
                <data android:host="bsa.co.in"/>
                <data android:host="bgpost.bg"/>
                <data android:host="canadapost.ca"/>
                <data android:host="centralexpress.in"/>
                <data android:host="postaonline.cz"/>
                <data android:host="track-chinapost.com"/>
                <data android:host="chipsairexp.com"/>
                <data android:host="firstflight.net"/>
                <data android:host="citipost.in"/>
                <data android:host="cjkoreaexpress.in"/>
                <data android:host="overnitenet.com"/>
                <data android:host="ondotonline.in"/>
                <data android:host="gati.com"/>
                <data android:host="gojavas.com"/>
                <data android:host="vxpress.in"/>
                <data android:host="vtransgroup.com"/>
                <data android:host="vayusevaindia.in"/>
                <data android:host="usps.com"/>
                <data android:host="vichare.info"/>
                <data android:host="vrlgroup.in"/>
                <data android:host="vulcanxpress.com"/>
                <data android:host="zodiacexpress.com"/>
                <data android:host="yogayog.com"/>
                <data android:host="yw56.com.cn"/>
                <data android:host="xpressbees.com"/>
                <data android:host="xfas.in"/>
                <data android:host="wowexpress.in"/>
                <data android:host="worldnetexpress.com"/>
                <data android:host="worldfirst.in"/>
                <data android:host="satelliteconnexions.com"/>
                <data android:host="sp.com.sa"/>
                <data android:host="scmforyou.com"/>
                <data android:host="sekologistics.com"/>
                <data android:host="sequel.co.in"/>
                <data android:host="shreeanjanicourier.com"/>
                <data android:host="balajicourier.com"/>
                <data android:host="sigmacouriers.com"/>
                <data android:host="shreemahabaliexpress.com"/>
                <data android:host="shreemahavircourier.co.in"/>
                <data android:host="shreemaruticourier.com"/>
                <data android:host="shreenandancourier.com"/>
                <data android:host="shreetirupaticourier.net"/>
                <data android:host="shrikarni.in"/>
                <data android:host="shrisaiservice.in"/>
                <data android:host="ubxpress.com"/>
                <data android:host="singpost.com"/>
                <data android:host="sjww.in"/>
                <data android:host="skycomex.com"/>
                <data android:host="skylarkexpress.in"/>
                <data android:host="skynetwwe.com"/>
                <data android:host="skynetindia.com"/>
                <data android:host="smcouriers.com"/>
                <data android:host="sohaminternational.net"/>
                <data android:host="speedandsafe.com"/>
                <data android:host="speedexpress.co.in"/>
                <data android:host="speednetcouriers.co.in"/>
                <data android:host="speedmanexpress.com"/>
                <data android:host="spoton.co.in"/>
                <data android:host="srkcommunique.com"/>
                <data android:host="stcourier.com"/>
                <data android:host="ucglobal.com"/>
                <data android:host="suntikacourier.com"/>
                <data android:host="supertradecouriers.com"/>
                <data android:host="uncleparcels.com"/>
                <data android:host="chinapost-track.com"/>
                <data android:host="swissfreight.com"/>
                <data android:host="service.post.ch"/>
                <data android:host="useucs.com"/>
                <data android:host="priorityexp.com"/>
                <data android:host="pacificexp.net"/>
                <data android:host="palandecourier.com"/>
                <data android:host="parcelforce.com"/>
                <data android:host="parcel2go.com"/>
                <data android:host="parcelled.in"/>
                <data android:host="parveenexpress.com"/>
                <data android:host="patel-india.com"/>
                <data android:host="pavancourier.com"/>
                <data android:host="ecom.pickspeed.co.in"/>
                <data android:host="pickmexp.com"/>
                <data android:host="redexpressdelivery.com"/>
                <data android:host="pigeonexpress.com"/>
                <data android:host="pionexxco.net"/>
                <data android:host="emonitoring.poczta-polska.pl"/>
                <data android:host="poonamcourier.com"/>
                <data android:host="poslaju.com.my"/>
                <data android:host="postnl.post"/>
                <data android:host="prgexpress.com"/>
                <data android:host="primecrc.com"/>
                <data android:host="primetrack.in"/>
                <data android:host="royalmail.com"/>
                <data android:host="procurelogistics.com"/>
                <data android:host="psscourier.com"/>
                <data android:host="purolator.com"/>
                <data android:host="pushpakcourier.net"/>
                <data android:host="q-express.com"/>
                <data android:host="gorapidconnect.com"/>
                <data android:host="rajdhaniairexpress.com"/>
                <data android:host="kesinenicargo.com"/>
                <data android:host="khubaniairpack.com"/>
                <data android:host="kingworldwidecourier.com"/>
                <data android:host="megacitycourier.in"/>
                <data android:host="lmtco.com"/>
                <data android:host="track.metroswift.in"/>
                <data android:host="meghraj.co.in"/>
                <data android:host="ludhianaexpress.com"/>
                <data android:host="madhurcouriers.in"/>
                <data android:host="madurairadhalogistics.com"/>
                <data android:host="mailexindia.com"/>
                <data android:host="marutiair.com"/>
                <data android:host="maxlogistic.com"/>
                <data android:host="kgscargo.co.in"/>
                <data android:host="miraklecouriers.com"/>
                <data android:host="mmllog.net"/>
                <data android:host="mskworldwide.in"/>
                <data android:host="mypacco.com"/>
                <data android:host="daakiyaa.com"/>
                <data android:host="dakiyajunction.in"/>
                <data android:host="dcsdelivery.com"/>
                <data android:host="delex.in"/>
                <data android:host="dpd.com"/>
                <data android:host="delnetexpress.com"/>
                <data android:host="deusgroups.com"/>
                <data android:host="dhlsameday.com"/>
                <data android:host="dreamcoexpress.com.pk"/>
                <data android:host="evahan.in"/>
                <data android:host="ecomexpress.in"/>
                <data android:host="highflyexpress.com"/>
                <data android:host="elbextrack.in"/>
                <data android:host="elta-courier.gr"/>
                <data android:host="epg.ae"/>
                <data android:host="koreapost.go.kr"/>
                <data android:host="eparcel.co"/>
                <data android:host="excesscouriers.com"/>
                <data android:host="expan.co.in"/>
                <data android:host="falconcourier.net"/>
                <!--<data android:host="61.145.165.207"/-->>
                <data android:host="faspeed.com"/>
                <data android:host="fastnfirstcouriers.com"/>
                <data android:host="goodluckcourier.in"/>
                <data android:host="firstflightcanada.com"/>
                <data android:host="flightdespatch.com"/>
                <data android:host="flykingonline.com"/>
                <data android:host="franchexpress.com"/>
                <data android:host="futuresupplychains.com"/>
                <data android:host="globalmailexp.com"/>
                <data android:host="gmsworldwide.com"/>
                <data android:host="iccworld.com"/>
                <data android:host="iclexpress.in"/>
                <data android:host="icscourier.ca"/>
                <data android:host="irtpl.com"/>
                <data android:host="innovex.co.in"/>
                <data android:host="linexsolutions.com"/>
                <data android:host="jgtcl.com"/>
                <data android:host="jetlinecouriers.com"/>
                <data android:host="jvxp.in"/>
                <data android:host="nitcologistics.com"/>
                <data android:host="nonstopexpress.com"/>
                <data android:host="nuvoex.com"/>
                <data android:host="ocsworldwide.co.uk"/>
                <data android:host="omintl.net"/>
                <data android:host="omsanchar.omlogistics.co.in"/>
                <data android:host="omniexpress.in"/>
                <data android:host="orbitexp.com"/>
                <data android:host="overseasexpress.in"/>

            </intent-filter>
        </activity>
        <receiver android:name=".utils.NotificationHandler">



        </receiver>
    </application>

</manifest>